.main-content {
  margin-left: 255px; /* Ajusta al ancho de tu sidebar */
  padding: 20px;
}

.card-footer{
        padding: 0px 15px 15px;

        hr{
          margin-top: 10px;
          margin-bottom: 15px;
        }
}

.icon-big {
        font-size: 3em;
        min-height: 64px;

        i{
            line-height: 59px;
        }
}

.card-stats {
  border: 0px;
  /*box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;*/
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card {
  border: 0px;
  /*box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;*/
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
