<app-sidebar> </app-sidebar>

<div class="main-content">
    <!-- <div class="pt-1 mt-0">
        <h1 class="mt-2 mt-md-4 mb-3 pt-0"></h1>
        <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
          <p class="text-muted"></p>

        </div>
      </div> -->
      <div class="header">
        <div class="header-body">
          <div class="header-title">
            <h4 style="margin-bottom: 0px;">Configuraciones</h4>
          </div>
        </div>
      </div>

      <div class="card box-shadow-sm card-hover border-0" *ngIf="!existeConfig">
        <div class="card-body">
            <div style="max-width: 48rem;" *ngIf="!loading">
                <span>Aun no se ha creado una configuración</span>
            </div>
            <div class="spinner-border text-muted" role="status" *ngIf="loading">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="card-footer border-0 text-end">
            <button class="btn btn-primary mr-3" (click)="inicializar()"><i class="cxi-settings"></i>  Inicializar</button>
          </div>
      </div>

      <form [formGroup]="configForm">
      <div class="card border-0 card-hover" *ngIf="existeConfig">
            <!-- <div class="card-header border-0">
                <h5 style="margin-bottom: 0px;">Configuraciones</h5>
            </div> -->

            <div class="card-body">
              <div style="max-width: 48rem;">
                <div class="mb-2 p-1 text-light rounded-2" [style.background]="color">
                  <b>Identidad de la tienda</b>
                </div>
                <div class="form-group row align-items-center">
                  <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Nombre de la tienda</label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" id="text-input" formControlName="titulo" placeholder="Nombre de la tienda">
                  </div>
                </div>
                <form [formGroup]="categoriaForm">
                  <div class="form-group row align-items-center">
                    <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Categorías</label>
                    <div class="col-md-4">
                      <input class="form-control" type="text" id="text-input" formControlName="titulo" placeholder="Titulo">
                    </div>
                    <div class="col-md-5">
                      <input class="form-control" type="text" id="text-input" formControlName="icono" placeholder="Icono">
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-9">
                      <a role="button" (click)="agregarCategorias()" class="mb-5 text-primary">Agregar</a>
                      <div class="table-responsive mt-3">
                        <table class="table table-sm table-hover">
                          <thead class="thead-dark">
                            <tr>
                              <th>Categoria</th>
                              <th>Icono</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngIf="categorias.length==0">
                                <tr>
                                    <td class="text-center">
                                        <span class="text-muted">No hay categorias disponibles</span>
                                    </td>
                                    <td></td>
                                </tr>
                            </ng-container>
                            <ng-container *ngFor="let cat of categorias; let i = index">
                                <tr>
                                    <td>{{cat.titulo}}</td>
                                    <td><i class="{{cat.icono}}"></i> {{cat.icono}}</td>
                                    <td><a class="btn btn-sm btn-outline-danger btn-icon border-0" (click)="eliminarCategoria(i)"><i class="fe fe-trash"></i></a></td>
                                </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </form>

                <div class="form-group row align-items-center">
                  <label class="col-md-3 col-form-label font-weight-medium" for="file-input">Logo</label>
                  <div class="col-md-6">
                    <div class="custom-file">
                      <input class="custom-file-input" type="file" id="file-input" (change)="fileChangeEvent($event)">
                      <label class="custom-file-label" for="file-input">Subir una imagen</label>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <img [src]="imgSelect" class="img-thumbnail" alt="Rounded image">
                  </div>
                </div>


                <div class="mb-2 p-1 text-light rounded-2" [style.background]="color">
                  <b>Facturación</b>
                </div>
                <div class="form-group row align-items-center">
                  <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Facturación</label>
                  <div class="col-md-2">
                    <input class="form-control" type="number" min="0" max="999" id="text-input" placeholder="Establecimiento" formControlName="establecimiento">
                  </div>
                  <div class="col-md-2">
                    <input class="form-control" type="number" min="0" max="999" id="text-input" placeholder="Punto de Expedición" formControlName="punto">
                  </div>
                  <div class="col-md-5">
                    <input class="form-control" type="number" min="0" max="9999999" id="text-input" placeholder="Numeración Desde" formControlName="correlativo">
                  </div>
                </div>

                <div class="mb-2 p-1 text-light rounded-2" [style.background]="color">
                  <b>Color de enfasis</b>
                </div>
                <div class="form-group row align-items-center">
                  <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Color</label>
                  <div class="col-md-6">
                    <input class="form-control p-1" type="color" id="text-input" placeholder="Color" formControlName="color">
                  </div>
                </div>


              </div>

            </div>
            <div class="card-footer border-0 text-end">
              <button class="btn btn-primary mr-3" (click)="actualizar()"><i class="cxi-settings"></i> Actualizar</button>
            </div>
      </div>
    </form>
</div>
