<app-sidebar> </app-sidebar>

<div class="main-content">
    <div class="pt-1 mt-4">
      <h2 class="mt-2 mt-md-4 mb-3 pt-0"></h2>
      <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted"></p>

      </div>
    </div>

    <div class="card box-shadow border-0 rounded-0 card-hover">
          <div class="card-header border-0 ">
              <h5 class="pt-2 pb-2" style="margin-bottom: 0px;">Registro de cupones</h5>
          </div>
          <form [formGroup]="cuponesForm" (submit)="registrar()">
            <div class="card-body">
                  <div>
                    <div class="row">
                      <div class="col-md-4 form-group">
                        <label for="validationCustom01" class="form-label">Código de cupón</label>
                        <input class="form-control" type="text" formControlName="cedula" placeholder="C.I." required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 form-group">
                        <label for="validationCustom01" class="form-label">Tipo</label>
                        <select class="form-control custom-select rounded-0" formControlName="genero" id="">
                          <option value="" selected disabled>Seleccionar</option>
                          <option value="Masculino">Porcentaje</option>
                          <option value="Femenino">Valor fijo</option>
                        </select>
                      </div>
                      <div class="col-md-4 form-group">
                        <label for="validationCustom01" class="form-label">Valor</label>
                        <input class="form-control" type="text" formControlName="apellidos" placeholder="Apellidos" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 form-group">
                        <label for="validationCustom01" class="form-label">Limite</label>
                        <input class="form-control" type="text" formControlName="email" placeholder="Corre Electrónico" required>
                      </div>
                      <div class="col-md-4 form-group">
                        <label for="validationCustom01" class="form-label">Fecha creación</label>
                        <input class="form-control" type="date" formControlName="fecha_nacimiento">
                      </div>
                  </div>
            </div>
        </div>
            <div class="card-footer border-0 text-end">
                <button class="btn btn-primary btn-hover-shadow mr-3" [disabled]="!cuponesForm.valid"><i class="fa-sharp fa-solid fa-square-check"></i> {{this.id==null?'Guardar':'Actualizar'}}</button>
                <a [routerLink]="['/panel/clientes']"  class="btn btn-secondary rounded-0"><i class="fa-sharp fa-solid fa-rectangle-xmark"></i> Cancelar</a>
            </div>
        </form>
    </div>
  </div>



