<nav class="navbar navbar-expand-md navbar-light d-none d-md-flex" id="topbar"
[ngStyle]="{
    'background': 'linear-gradient(90deg, #ffffff 15%, #ffffff 100%)'
  }"
>
    <div class="container-fluid">

      <!-- Form var(--color-tienda) -->
      <form class="form-inline mr-4 d-none d-md-flex">
        <div class="input-group input-group-flush input-group-merge" data-list='{"valueNames": ["name"]}'>

          <!-- Input -->
          <input type="search" class="form-control form-control-prepended dropdown-toggle list-search" data-toggle="dropdown" placeholder="Search" aria-label="Search" />

          <!-- Prepend -->
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fe fe-search"></i>
            </div>
          </div>

        </div>
      </form>

      <!-- User -->
      <div class="navbar-user" style="margin-right: 17px;">

        <!-- Dropdown -->

        <a class="navbar-user-link mr-4 rounded-circle p-1" role="button" data-bs-toggle="offcanvas" href="#" aria-controls="sidebarOffcanvasActivity" style="border: 1px solid #ccc;">
          <span class="icon">
            <i class="fe fe-bell"></i>
          </span>
        </a>

        <!-- Dropdown -->
        <div class="dropdown">



          <!-- Toggle -->
          <a class="avatar avatar-sm avatar-online dropdown-toggle rounded-circle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: 1px solid #ccc;">
            <!-- <img src="https://dashkit.goodthemes.co/assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle" /> -->
            <img src="./assets/img/avatars/profiles/avatar-10.png" alt="..." class="avatar-img rounded-circle" />
          </a>

          <!-- Menu -->
          <div class="dropdown-menu dropdown-menu-right">
             <a class="dropdown-item" style="cursor:pointer" routerLink="/perfil">
              <span class="fe fe-star me-3"></span> Perfil
            </a>
            <a class="dropdown-item" style="cursor:pointer" (click)="logout()">
              <span class="fe fe-log-out me-3"></span> Cerrar sesión
            </a>
          </div>

        </div>

      </div>

    </div>
  </nav>
