<app-sidebar> </app-sidebar>

<div class="main-content">
            <!-- Page title-->
            <div class="pt-1 mt-4">
              <h2 class="mt-2 mt-md-4 mb-3 pt-4">Inventario del Producto: </h2> 
              <div class="d-flex flex-wrap flex-md-nowrap justify-content-between" *ngIf="producto">
                <h5>{{producto.titulo}}</h5>
                <p class="font-size-sm font-weight-medium pl-md-4">
                  <a class="text-nowrap" rel="noopener" [routerLink]="['/panel/productos']">Regresar<i class="cxi-angle-right font-size-base align-middle ml-1"></i></a>
                </p>
              </div>
            </div>

            <div class="card box-shadow border-0 rounded-0 card-hover">
                  <div class="card-header border-0">
                     <form [formGroup]="inventarioForm" class="form-inline" >
                        <div>
                          <input class="form-control form-control-sm mr-sm-4" formControlName="cantidad" type="text" id="inline-form-input-cantiad" placeholder="Cantidad">
                          <input class="form-control form-control-sm mr-sm-4" formControlName="proveedor" type="text" id="inline-form-input-proveedor" placeholder="Proveedor">
                          <button type="button" (click)="agregarInventario()" class="btn btn-outline-secondary btn-sm"><i class="fa-sharp fa-solid fa-plus"></i></button>
                          <!-- <button type="button" class="btn btn-secondary btn-sm"><i class="fa-solid fa-broom"></i></button> -->
                        </div>
                      </form> 
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-bordered">
                            <thead class="thead-dark">
                              <tr>
                                <th>#</th>
                                <th>Usuario</th>
                                <th>Cantidad</th>
                                <th>Proveedor</th>
                                <th>Motivo</th>
                                <th>Opciones</th>
                              </tr>
                            </thead>
                            <ng-container *ngIf="inventario.length==0">
                                <tbody>
                                    <tr>
                                        <td colspan="4" class="text-center">
                                            <span class="text-muted">No hay registros que mostrar</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </ng-container>

                            <ng-container>
                                <tbody *ngFor="let item of inventario | slice: (page-1)*pageSize : (page-1)*pageSize+pageSize; let indice = index">
                                    <tr>
                                      <td>{{indice + 1}}</td>
                                      <td>{{item.usuario.nombres + ' ' + item.usuario.apellidos}}</td>
                                      <td>{{item.cantidad}}</td>
                                      <td>{{item.proveedor}}</td>
                                      <td>{{item.motivo}}</td>
                                      <td style="text-align: center;">
                                        <div class="btn-toolbar" role="toolbar" aria-label="Settings toolbar" style="text-align: center;">
                                          <a class="btn btn-outline-danger btn-icon" (click)="eliminar(item._id)"><i class="fa-sharp fa-solid fa-trash-can"></i></a>
                                          <!-- <a class="btn btn-outline-secondary btn-icon" [routerLink]="['/panel/productos/registro/', item._id]"><i class="fa-sharp fa-solid fa-pencil"></i></a>
                                          
                                          <a class="btn btn-outline-primary btn-icon" [routerLink]="['/panel/productos/inventario/', item._id]"><i class="fa-solid fa-boxes-stacked"></i></a> -->
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                            </ng-container>
                          </table>
                      </div>
                  </div>
                  <div class="card-footer border-0">
                      <ngb-pagination
                      [(page)]="page"
                      [pageSize]="pageSize"
                      [collectionSize]="inventario.length"
                      ></ngb-pagination>
                  </div>
            </div>
</div>


