<app-sidebar> </app-sidebar>
<div class="main-content">
    <div class="header">
      <div class="header-body">
        <div class="row align-items-center">
          <div class="col">
            <div class="header-title">
              <h4 style="margin-bottom: 0px;">Registro de producto</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="card box-shadow border-0 card-hover">
            <form [formGroup]="productoForm" (submit)="guardar()" class="needs-validation">
              <div class="card-body">
                    <div class="row">
                      <div class="col-lg-8">
                          <div class="row">
                            <div class="col-lg-12 form-group">
                                <label for="">Titulo de producto</label>
                                <input type="text" class="form-control" formControlName="titulo" placeholder="Titulo de producto" required>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label for="">Stock</label>
                                <input type="number" class="form-control" formControlName="stock" placeholder="Cantidad inicial" required>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label for="">Precio</label>
                                <input type="number" class="form-control" formControlName="precio" placeholder="Precio" required>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label for="">Categoría</label>
                                <select class="form-control custom-select" formControlName="categoria" id="select-input">
                                  <option value="" selected disabled>Seleccionar</option>
                                  <option value="{{item.titulo}}" *ngFor="let item of config_global.categorias">{{item.titulo}}</option>
                                </select>
                            </div>

                            <div class="col-lg-12 form-group">
                                <label for="">Descripción corta</label>
                                <textarea class="form-control" placeholder="Titulo de producto" formControlName="descripcion" required rows="5"></textarea>
                            </div>

                            <div class="col-lg-12 form-group">
                              <!-- <textarea class="form-control" required formControlName="contenido" rows="15"></textarea> -->
                              <!-- <quill-editor formControlName="contenido" [styles]="{height: '200px'}" (onEditorCreated)="onEditorCreated($event)"></quill-editor> -->
                              <!-- <editor [init]="config"></editor> -->
                              <div id="editor">
                                <!-- <h2>Demo Content</h2>
                                <p>Preset build with <code>snow</code> theme, and some common formats.</p> -->
                              </div>
                            </div>

                          </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="row">
                          <div class="col-lg-12 form-group">
                              <label for="">Portada</label>
                              <div class="custom-file">
                                <input class="custom-file-input" type="file" placeholder="Imagen" id="file-input" (change)="fileChangeEvent($event)">
                                <label class="custom-file-label" for="file-input">Seleccionar imagen</label>
                              </div>
                          </div>
                          <div class="col-lg-12">
                            <img [src]="imgSelect" class="img-thumbnail" alt="Rounded image">
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="card-footer border-0 text-end m-2">
                  <button type="submit" class="btn btn-success btn-hover-shadow mr-3"><i class="fa-sharp fa-solid fa-square-check"></i> {{this.productId==null?'Guardar':'Actualizar'}}</button>
                  <button [routerLink]="['/panel/productos']"  class="btn btn-secondary"><i class="fa-sharp fa-solid fa-rectangle-xmark"></i> Cancelar</button>
              </div>
          </form>
      </div>
</div>
