<!-- Navbar-->
<header class="navbar navbar-expand navbar-light fixed-top navbar-box-shadow bg-light px-3 px-lg-4" data-scroll-header
  data-fixed-element>
  <a class="navbar-brand d-lg-none" href="dev-setup.html">
    <!-- <img src="assets/img/components/logo/logo-dark.svg" alt="Createx" width="130" /> -->
    <img src="assets/img/store-64.png" alt="Tienda" width="130">
  </a>
  <button class="navbar-toggler d-block d-lg-none mr-3 ml-auto" type="button" data-toggle="offcanvas"
    data-target="componentsNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <h3 style="margin-left: 320px;">La Orchila</h3> -->
  <ul class="navbar-nav ml-auto d-none d-lg-flex align-items-center">
    <!-- <li class="nav-item">
      <a class="nav-link py-0" href="../components/typography.html">
        <i class="cxi-profile align-middle mt-n1 mr-2"></i>
        Cuenta
      </a>
    </li> -->
    <button class="btn btn-light btn-icon">
      <i class="cxi-bell mt-n1 align-middle"></i>
    </button>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle btn-hover-shadow" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <!-- <i class="cxi-profile align-middle mt-n1 mr-2"></i> -->
        <i class="cxi-profile"></i> {{usuario || 'Cuenta' }}
      </a>
      <ul class="dropdown-menu">
        <li>
          <a [routerLink]="['/perfil']" class="dropdown-item" href="#">Perfil</a>
        </li>
        <li><a class="dropdown-item" href="#">Preferencias</a></li>
        <li class="dropdown-divider"></li>
        <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">
          <i class="cxi-logout"></i> Cerrar Sesión</a>
        </li>
      </ul>
    </li>

  </ul>
</header>

<!-- Side navigation (Off-canvas)-->
<aside class="cs-offcanvas cs-offcanvas-expand bg-dark" id="componentsNav" style="width: 18em;">
  <div class="cs-offcanvas-cap d-none d-lg-block py-3 text-center">
    <a class="navbar-brand">
      <!-- <img src="assets/img/components/logo/logo-white.svg" alt="Createx" width="130" /> -->
      <img [src]="imgSelect" class="img-thumbnail" alt="Rounded image" width="200">
      <!-- <img src="assets/img/store-64.png" alt="Tienda" width="60"> -->
    </a>
    <h4 class="text-light text-center mt-2">{{NombreTienda}}</h4>
    <!-- <span class="badge badge-warning ml-2">Dev</span> -->
  </div>
  <div class="cs-offcanvas-cap d-flex d-lg-none">
    <div class="d-flex align-items-center">
      <h5 class="text-light mb-0 mr-3">Menu</h5>
      <span class="badge badge-warning">Docs</span>
    </div>
    <button class="close text-light" type="button" data-dismiss="offcanvas" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="d-flex d-lg-none align-items-center py-4 px-3 border-bottom border-light">
    <a class="btn btn-primary btn-block mr-3 px-4" href="index.html"><i class="cxi-eye mt-n1 mr-2"></i>Preview</a>
    <a class="btn btn-success btn-block mt-0 px-4" href="../components/typography.html"><i
        class="cxi-layouts mt-n1 mr-2"></i>Components</a>
  </div>
  <div class="cs-offcanvas-body px-0 pt-4 pb-grid-gutter" data-simplebar data-simplebar-inverse>
    <h6 class="font-size-lg text-light px-4 mt-2 mb-3">Contenido</h6>
    <hr class="hr-gradient hr-light mb-2 opacity-25" />
    <nav class="nav nav-light">
      <a class="nav-link px-4" [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a>
      <!-- <div class="accordion accordion-flush nav-link px-4 nav-dark" id="accordionExample">
          <div class="accordion-item" style="background-color: #212529;">
            <h3 class="accordion-header" id="headingOne">
              <button class="btn btn-dark p-0 pb-2 border-0" style="color: rgba(255,255,255,0.6); background-color: #212529;" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Configuraciones</button>
            </h3>
            <div class="accordion-collapse border-0 collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample">
              <a class="nav-link px-4" [routerLink]="['/panel/configuraciones']" routerLinkActive="active" style="color: white;">Configuraciones</a>
            </div>
          </div>
      </div> -->
      <a class="nav-link px-4" [routerLink]="['/panel/configuraciones']" routerLinkActive="active">Configuraciones</a>
      <a class="nav-link px-4" [routerLink]="['/panel/clientes']" routerLinkActive="active">Clientes</a>
      <a class="nav-link px-4" [routerLink]="['/panel/cupones']" routerLinkActive="active">Cupones</a>
      <a class="nav-link px-4" [routerLink]="['/panel/descuentos']" routerLinkActive="active">Descuentos</a>
      <a class="nav-link px-4" [routerLink]="['/panel/productos']" routerLinkActive="active">Productos</a>
      <a class="nav-link px-4" [routerLink]="['/panel/contactos']" routerLinkActive="active">Contactos</a>
      <a class="nav-link px-4" [routerLink]="['/panel/ventas']" routerLinkActive="active">Ventas</a>
    </nav>
  </div>
  <footer>
  <span id="footer" class="text-muted">ManageStore © Version 1.0.5 - 2025</span>
</footer>
</aside>
