#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   font-size: 12px;
}

.nav-item .nav-link {
 color: #3d3846;
}

.nav-item {
  padding: 4px;
}


.nav-item .nav-link.active {
  color: #fff;
  background-color: var(--color-tienda);
  border-radius: 6px;
  border: 1px solid var(--color-tienda);
}

/*#12263f*/
