<app-sidebar> </app-sidebar>

<div class="main-content">
            <!-- Page title-->
            <div class="header">
              <div class="header-body">
                <div class="row align-items-center">
                  <div class="col">
                    <div class="header-title">
                      <h4 style="margin-bottom: 0px;">Usuarios del Sistema</h4>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
                          <p class="font-size-sm font-weight-medium pl-md-4">
                            <a class="btn btn-secondary lift" role="button" rel="noopener" [routerLink]="['/panel/usuarios/registro']"><i class="fe fe-plus"></i> Registrar nuevo</a>
                          </p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="pt-1 mt-4">
              <h3 class="mt-2 mt-md-4 mb-3 pt-4">Clientes</h3>
              <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
                <p class="text-muted">Este módulo lista todos los clientes de la tienda.</p>
                <p class="font-size-sm font-weight-medium pl-md-4">
                  <a class="text-nowrap" rel="noopener" [routerLink]="['/panel/clientes/registro']">Registrar nuevo<i class="cxi-angle-right font-size-base align-middle ml-1"></i></a>
                </p>
              </div>
            </div> -->

            <div class="card box-shadow border-0  card-hover">

                  <div class="card-header border-0">
                      <form [formGroup]="filtroUsuarioForm" class="form-inline">
                          <ng-container *ngIf="tipoFiltro=='nombre'">
                            <label class="sr-only" for="inline-form-input-name">Apellidos</label>
                            <input class="form-control  mr-sm-4" (keyup)="filtro('nombre')" formControlName="nombre" type="text" id="inline-form-input-name" placeholder="Nombres">

                            <label class="sr-only" for="inline-form-input-username">Correo</label>
                            <div class="input-group  mr-sm-4">
                              <input class="form-control" type="text" (keyup)="filtro('apellido')" formControlName="apellido" id="inline-form-input-username" placeholder="Apellidos">
                            </div>
                          </ng-container>
                          <ng-container *ngIf="tipoFiltro=='email'">
                            <div class="input-group  mr-sm-6">
                              <label class="sr-only" for="inline-form-input-email">Correo</label>
                              <input class="form-control" type="text" (keyup)="filtro('email')" formControlName="email" id="inline-form-input-email" placeholder="Correo Electrónico">
                            </div>
                          </ng-container>
                          <ng-container *ngIf="tipoFiltro=='rol'">
                            <div class="input-group  mr-sm-4">
                              <select class="form-control custom-select" name="rol" id="" formControlName="rol" (change)="filtro('rol')">
                                <option value="" selected disabled>Seleccione</option>
                                <option value="USER">Cliente</option>
                                <option value="ADMIN">Administrador</option>
                              </select>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="tipoFiltro=='estado'">
                            <div class="input-group  mr-sm-4">
                              <select class="form-control custom-select" name="estado" id="" formControlName="estado" (change)="filtro('estado')">
                                <option value="" selected disabled>Seleccione</option>
                                <option value="true">Activo</option>
                                <option value="false">Inactivo</option>
                              </select>
                            </div>
                          </ng-container>

                           <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Buscar por {{tipoFiltro}} <i class="fe fe-search"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" style="cursor: pointer;" (click)="mostrarFiltro('nombre')">Nombre y apellido</a>
                              <a class="dropdown-item" style="cursor: pointer;" (click)="mostrarFiltro('email')">Correo Electrónico</a>
                              <a class="dropdown-item" style="cursor: pointer;" (click)="mostrarFiltro('rol')">Rol</a>
                              <a class="dropdown-item" style="cursor: pointer;" (click)="mostrarFiltro('estado')">Estado</a>
                            </div>
                          </div>
                      </form>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover table-striped">
                            <thead class="thead-light" style="background-color: #486C3B !important;">
                              <tr>
                                <th>#</th>
                                <th>Identidad</th>
                                <th>Nombre y Apellido</th>
                                <th>Tipo</th>
                                <th>Correo Electrónico</th>
                                <th>Ultimo Acceso</th>
                                <th>Verificado</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                              </tr>
                            </thead>
                            <tr *ngIf="usuarios.length==0" style="text-align: center;">
                              <p>No hay registros que mostrar</p>
                            </tr>
                            <tbody *ngFor="let item of usuarios | slice: (page-1)*pageSize : (page-1)*pageSize+pageSize; let indice = index">
                              <tr [ngClass]="{'text-muted': item.activo==false}">
                                <td>{{indice + 1}}</td>
                                <td>{{item.cedula}}</td>
                                <td>{{item.nombres + ' ' + item.apellidos}}</td>
                                <td>{{item.rol.nombre == 'USER' ? 'Cliente' : 'Administrador'}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.ultimoIngreso | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                                <td>{{item.verificado == true ? 'Si' : 'No'}}</td>
                                <td>
                                  <a class="btn" style="border: 0px;" [ngClass]="{'btn-outline-success': item.activo==true, 'btn-outline-danger': item.activo==false}" (click)="actualizarEstado(item)">
                                      <i class="fe" [ngClass]="{'fe-check': item.activo==true, 'fe-x': item.activo==false}"></i>
                                  </a>
                                </td>
                                <td style="text-align: center;">
                                  <div class="btn-toolbar" role="toolbar" aria-label="Settings toolbar" style="text-align: center;">
                                    <!-- <a class="btn btn-outline-secondary border-0 btn-icon" [routerLink]="['/panel/clientes/registro/', item._id]"><i class="fe fe-edit"></i></a> -->
                                    <!-- <a class="btn btn-outline-danger border-0 btn-icon" (click)="eliminar(item._id)"><i class="fe fe-trash"></i></a> -->
                                     <a class="btn btn-outline-secondary border-0 btn-icon" [routerLink]="['/panel/clientes/registro/', item._id]"><i class="fe fe-send"></i></a>
                                  </div>

                                  <!-- <button class="btn btn-outline-secondary btn-sm dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false"><i class="fa-solid fa-wrench"></i> Opciones</button>
                                  <div class="dropdown-menu ">
                                    <a class="dropdown-item" [routerLink]="['/panel/clientes/registro/', item._id]"><i class="fe fe-edit"></i> Editar</a>
                                    <a class="dropdown-item" href="#"><i class="fe fe-trash"></i> Eliminar</a>
                                  </div> -->
                                </td>
                              </tr>
                            </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="card-footer border-0">
                      <ngb-pagination
                      [(page)]="page"
                      [pageSize]="pageSize"
                      [collectionSize]="usuarios.length"
                      ></ngb-pagination>
                  </div>
            </div>
</div>


