<app-sidebar> </app-sidebar>

<div class="main-content">
    <div class="header">
      <div class="header-body">
        <div class="row align-items-center">
          <div class="col">
            <div class="header-title">
              <h4 style="margin-bottom: 0px;">Registro de descuento</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card box-shadow border-0  card-hover">
          <form [formGroup]="descuentoForm" (submit)="registrar()">
            <div class="card-body">
                    <div class="row">
                      <div class="col-lg-8">
                          <div class="row">
                            <div class="col-lg-12 form-group">
                                <label for="">Titulo de descuento</label>
                                <input type="text" class="form-control" formControlName="titulo" placeholder="Titulo de descuento" required>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label for="">Fecha Inicio</label>
                                <input class="form-control" type="date" formControlName="fecha_inicio">
                            </div>
                            <div class="col-lg-6 form-group">
                                <label for="">Fecha Fin</label>
                                <input class="form-control" type="date" formControlName="fecha_fin">
                            </div>

                            <div class="col-lg-6 form-group">
                                <label for="">Porcentaje %</label>
                                <input type="text" class="form-control" formControlName="descuento" placeholder="Porcentaje descuento" required>

                                <div *ngIf="descuentoForm.get('descuento')?.errors">
                                  <div *ngIf="descuentoForm.get('descuento')?.errors?.['required']">
                                    El campo es obligatorio.
                                  </div>
                                  <div *ngIf="descuentoForm.get('descuento')?.errors?.['formatoInvalido']">
                                    Solo se permiten 1 o 2 dígitos numéricos.
                                  </div>
                                  <div *ngIf="descuentoForm.get('descuento')?.errors?.['rangoInvalido']">
                                    El valor debe estar entre 0 y 99.
                                  </div>
                                </div>
                            </div>

                          </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="row">
                          <div class="col-lg-12 form-group">
                              <label for="">Banner</label>
                              <div class="custom-file">
                                <input class="custom-file-input" type="file" placeholder="Imagen" id="file-input" (change)="fileChangeEvent($event)">
                                <label class="custom-file-label" for="file-input">Seleccionar imagen</label>
                              </div>
                          </div>
                          <div class="col-lg-12">
                            <img [src]="imgSelect" class="img-thumbnail" alt="Rounded image">
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="card-footer border-0 text-end">
                  <button type="submit" class="btn btn-success btn-hover-shadow mr-3"><i class="fa-sharp fa-solid fa-square-check"></i> {{this.descuentoId==null?'Guardar':'Actualizar'}}</button>
                  <button [routerLink]="['/panel/descuentos']"  class="btn btn-secondary"><i class="fa-sharp fa-solid fa-rectangle-xmark"></i> Cancelar</button>
              </div>
        </form>
    </div>
  </div>



