.main-content {
  margin-left: 310px; /* Ajusta al ancho de tu sidebar */
  padding: 20px;
}

.rating {
  display: inline-flex;
}

.rating i {
  font-size: 16px;
  color: #bbb;
  transition: color 0.2s;
}

.rating i.active {
  color: gold;
}