<app-sidebar> </app-sidebar>

<div class="main-content">
    <div class="pt-1 mt-4">
        <h1 class="mt-2 mt-md-4 mb-3 pt-0"></h1>
        <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
          <p class="text-muted"></p>

        </div>
      </div>

        <div class="card box-shadow-sm border-0 rounded-0 card-hover">
              <div class="card-header border-0 d-flex flex-wrap flex-md-nowrap justify-content-between">
                  <h5 style="margin-bottom: 0px;">Reseñas</h5>
                  <p class="font-size-sm font-weight-medium pl-md-4">
                    <a class="btn btn-sm btn-outline-secondary" role="button" rel="noopener" [routerLink]="['/panel/productos']"><i class="cxi-angle-left font-size-base align-middle ml-1"></i> Regresar</a>
                  </p>
              </div>

              <!-- <div class="row align-items-center" style="background-color: #f3eed1; margin: 0px;">
                <div class="col-md-4">
                  <a class="image-inner card-img-top" [routerLink]="['/panel/productos/registro/', producto._id]" *ngIf="producto">
                    <img [src]="producto.portada ? url + producto.portada : 'assets/img/default-product.png'" alt="Blog card image">
                  </a>
                </div>
                <div class="col-md-8">
                  <h5 class="h5 mb-2 nav-dark" *ngIf="producto">
                    <span>{{producto.titulo}}</span>
                   </h5>
                   <div class="d-flex align-items-center">
                    <span class="h5 d-inline-block mb-0 text-danger">{{producto.precio | currency:'Gs. ':'symbol':'1.0-0'}}</span>
                  </div>
                </div>
              </div>

              <div class="card-body mt-4">
                <div style="max-width: 48rem;">
                  <div class="form-group row align-items-center">
                    <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Titulo</label>
                    <div class="col-md-7">
                      <input class="form-control" type="text" id="text-input" formControlName="titulo_variedad" placeholder="Título de la variedad">
                    </div>
                  </div>

                    <div class="form-group row align-items-center">
                      <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Variedades</label>
                      <div class="col-md-7">
                        <input class="form-control" type="text" id="text-input" formControlName="descripcion" placeholder="Descripción">
                      </div>
     
                      <div class="col-md-3"></div>
                      <div class="col-md-9">
                        <a role="button" class="mb-5" (click)="agregarVariedad()">Agregar</a>
                        <div class="table-responsive mt-3">
                          <table class="table table-sm">
                            <thead class="thead-dark">
                              <tr>
                                <th>Variedades</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngIf="variedades.length == 0">
                                  <tr>
                                      <td class="text-center">
                                          <span class="text-muted">No hay categorias disponibles</span>
                                      </td>
                                      <td></td>
                                  </tr>
                              </ng-container>
                              <ng-container *ngFor="let variedad of variedades; let i = index">
                                  <tr>
                                      <td>{{variedad.descripcion}}</td>
                                      <td><a class="btn btn-sm btn-outline-danger btn-icon" (click)="eliminarVariedad(i)"><i class="fa-sharp fa-solid fa-trash-can"></i></a></td>
                                  </tr>
                              </ng-container>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>



                </div>

              </div>
              <div class="card-footer border-0 text-end">
                <button class="btn btn-primary mr-3" (click)="actualizar()"><i class="cxi-settings"></i> Actualizar</button>
              </div> -->
        </div>
</div>